{{page-title "Order"}}
  <button class="ui button brown" type="button" {{action "return"}}> Retour aux commandes à préparer </button>
  <br>
  <br>
  <span class="ui label"> {{@model.dateCreation}} </span>
  <span> Produits Préparés ({{@model.orderdetails.quantity}})</span>

  <table class="ui table">
    <tr>
      <td> Produit </td>
      <td> Quantité </td>
      <td> Prix </td>
      <td> Montant </td>
      <td> Preparation </td>
    </tr>
    {{#each @model.ordersdetails as |order|}}
      <tr>
        <td>{{order.product.name}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.product.price}} euros</td>
        <td>{{order.amount}}</td>
        <td><input @type="checkbox" @checked="{{order.prepared}}"/></td>
      </tr>
    {{/each}}

    <tr>
      <td>{{@model.amount}} €</td>
      <td>{{@model.toPay}} €</td>
    </tr>

  </table>

{{outlet}}